*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/obj
/.idea


# VitePress
/docs/node_modules
/docs/.vitepress/cache
/docs/.vitepress/dist
/.kotlin
/_ai_gen_docs
/app/api29
/app/default
/app/release
./.idea
